{% extends 'main.html' %}

{% block content %}
    <section>
        <h1>About Us</h1>
        <p>Started off with a few friends playing on the weekends. </p>
    </section>

    <section>
        <div>
            <h4>The Team</h4>
            <p>We are a growing team, searching for candidates to take key positions.</p>
        </div>
    </section>

    <section>
        <div>
            <h5>Whats Next for Us?</h5>
            <p>Lorem Epsum</p>
        </div>
    </section>

{% endblock content%}