{% extends 'main.html' %}

{% block content %}        
            {% if page == 'register' %}

        <section class="rules">
                <div class="login-register--container">
                    
                        <h4 class="form-field--title">Create an Account</h4>

                        <div>
                            <form method="POST" action="{% url 'register' %}">
                                {% csrf_token %}
                                {{form.as_p}}
                                <input type="submit" value="Register"/>
                            </form>
                        </div>
                        <p>Already have an account? <strong><a href="{% url 'login' %}">Login</a></strong></p>

                </div>
        </section>
        
    {% else %}
    <section class="rules">
        <div>
            <h4>Login User</h4>

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div>
                    <label>Email</label>
                    <input type="email" name="email"/>
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password"/>
                </div>

                <div>
                    <input type="submit" value="Login"/>
                </div>

                <p>Do not have an account? <strong><a href="{% url 'register' %}">Register</a></strong></p>
            </form>
        </div>
    </section>
    {% endif %}
{% endblock content%}