{% extends 'main.html' %}

{% block content %}
    <section class="rules">
        <h1>Game Rules</h1>
        <p>The rules are a bit different from the actual hardball game.</p>

        <br>
        <div>
            <h3>Fielding Regulations</h3>
            <ul>
                <li><p>Depends on where we play and availability of space - not easy finding a ground in NYC dedicated for tape-ball cricket. BUT THAT IS ABOUT TO CHANGE!</p></li>
                <li><p>During powerplay, only 3 allowed outside of circle.</p></li>
            </ul>
        </div>

        <br>
        <div>
            <h3>What counts as out!</h3>
            <ol>
                <li>Catch</li>
                <li>Runout!</li>
                <li>Hit Wicket</li>
                <li>Obstructing the field</li>
            </ol>
        </div>

        <br>
         <div>
            <h3>Team Selection</h3>
            <ul>
                <li>Maximum Players in a squad: 12</li>
                <li>Total allowed to play a match: 9</li>
                <li>Minimum number of players required to play a match: 7</li>
                <li>Must pick at least 4 batsmen, 3-4 allrounders, 3-4 bowlers, and one wicket keeper.</li>
                <li>During the match, all teams must have atleast 2 batsman, 2 allrounders, 2 bowlers, and one wicketkeeper.</li>
            </ul>
        </div>

        <br>
        <div>
            <h3>Punctuality</h3>
            <p>Warning - all players must arrive <strong>30 minutes </strong> before start of play.</p>
            <p>Final team for the match to be handed to umpires <strong>15 minutes</strong> before match start. No Excuses.</p>
            <p>If team does not have minimum number of players required to play match, the team in question must pay fine in order to continue participating in tournament.</p>
        </div>

        <br>
    
        <div>
            <h3>Equipment Allocation</h3>
            <p>Besides team jerseys, equipment to be provided to all teams!</p>
            <p>All tournaments will be shirt color coded with each team.</p>
        </div>

    </section>

{% endblock content%}